@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: clip;
}

.app {
  display: grid;
  grid-template-columns: 80px auto;
  width: 100vw;
  height: 100vh;
}

.left-menu {
  background: #292f4c;
  width: 80px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-column: 1;
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.icons {
  font-size: 2em;
  filter: contrast(1%);
  display: flex;
  align-items: center;
}

.active-icon {
  position: absolute;
  left: 0px;
  background: linear-gradient(180deg, #f85252 0%, #f04242 100%);
  width: 3px;
  height: 62px;
}

.user {
  margin-bottom: auto;
  margin-top: 40px;
}

.settings {
  margin-top: auto;
}

.icon-container:hover {
  background: linear-gradient(270deg, #292f4c -20%, #ff4444 250.71%);
  cursor: pointer;
}
