.chat-container {
  grid-column: 1;
  display: grid;
  grid-template-rows: 50px auto 130px;
}

.chat-messages-container {
  grid-row: 2;
  padding: 10px;
}

.chat-messages {
  border: 1px solid black;
  border-radius: 24px;
  height: 100%;
  padding: 20px;
  overflow: inherit;
}

.chat-input-form {
  grid-row: 3;
  padding: 10px;
}

.chat-form {
  border: 1px solid black;
  background-color: #f8f8f8;
  border-radius: 24px;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 90% 10%;
}

.chat-input {
  border: none;
  resize: none;
  overflow: hidden;
  grid-column: 1;
  background-color: inherit;
}
.chat-input:focus {
  outline: none;
}

.chat-send {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-send-btn {
  margin-left: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #f44a4a;
  border: none;
  color: white;
}

.chat-send-btn:hover {
  background: #bb1616;
  cursor: pointer;
}

.chat-send-btn:active {
  background: #f44a4a;
}
